@use 'variables' as *;

/* ==========================================================================
   Theme Modes (Dark/Light)
   ========================================================================== */

body.dark-theme {
    background-color: #121212;
    color: #e0e0e0;

    --bg-body: #121212;
    --bg-card: #1e1e1e;
    --text-main: #e0e0e0;
    --text-muted: #a0a0a0;

    /* Material Overrides for Dark Mode */
    .mat-mdc-card {
        background-color: #1e1e1e !important;
        color: #e0e0e0 !important;
    }

    .mat-drawer {
        background-color: #1e1e1e !important;
        color: #e0e0e0;
    }
}